body{
    position: relative;
    background-image: url(photo/bG.webp);
    background-repeat: no-repeat;
    background-size:cover;
    flex-wrap: wrap ;
    display: flex;
}
#gameBord{
    display: grid;
    border: 2px solid black;
    margin-left: 18vw;
    background-color: green;
    width: 95vmin;
    height: 95vmin;
}

#scoreTag{
    float: left;
    clear: right;
    margin-left: 1vw;
    font-size: 3vmin;
    font-weight: bold;
}

.food{
    background-image: url(photo/food.png);
    background-size: cover;
}

.snackHead{
    background-image: url(photo/snackHead.png);
    background-size: cover;
}

.snackBody{
    background-color: #73b671;
    border-radius: 40%;
}


.controlBox{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn{
    width: 50px;
    height: 50px;
    margin: 3px;
    transition: all .1s;

}
.rightleftbutton{
    display: flex;
    margin: 3px;
}
#rightButton{
    background-image: url(photo/rightErrow.png);
    background-size: contain;
    /* margin-left: 60px; */
}


#topButton{
    background-image: url(photo/topErrow.png);
    background-size: contain;
}

#bottomButton{
    background-image: url(photo/bottomErow.png);
    background-size: contain;
}

#leftButton{
    background-image: url(photo/leftErrow.png);
    background-size: contain;
}
.btn:hover{
    height: 55px;
    width: 55px;
}


@media (max-width:777px) {
    #gameBord{
        margin-left: 0;
    }
}
