
body{
    margin: 0px;
    background-color: rgba(74, 158, 206, 0.925);
}

/* heading */
.heading{
    background-color: white;
    width: 100%;
    font-size: 23px;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-bottom: 3%;
} 

/* add box */
.addbox{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 1.5%;
    border-radius: 3px;
    margin-right: 1%;
    height: 320px;
}

/* title */
.addbox input{
   margin-bottom: 5px;
   font-size: 25px;
   overflow: auto;
}

/* describtion */
.addbox textarea{
   margin-bottom: 5px;
   font-size: 20px;
   overflow: auto;
}

/* add buttun */
.addbox button{
    font-size: 25px;
    background-color: rgb(21, 163, 21);
    border-style: none;
    border-radius: 3px;
    color: white;
}

/* buttun on hover */
.addbox button:hover,.editButton:hover{
    background-color: green;
}

/* contener */
.contener{
    width: 66%;
    /* height: 455px; */
    overflow-y: auto;
}

/* content box */
.contentBox{
    display: grid;
    grid-template-columns: 25% 60% 40px 40px;
    width: 99%;
    background-color: white;
    padding: 2.2% .2%;    
    border-radius: 5px;
    height: 40px;
    grid-column-gap: 5px;
    justify-content: center; 
    margin-bottom: 4px;
    overflow-x: auto;
    overflow-y: hidden; 
}


/* edit and remove */
.contentBox button{
    height: 40px;
    margin-top: 0px;
    border-radius: 5px;
    text-align: center;
    color: white;
    
}

/* editbutton */
.editButton{
    background-color: rgb(21, 163, 21);
    border-style: none;
    font-size: 30px;
}

/* remove button */
.removebutton{
    background-color: red;
    border-style: none;
    padding-left: 0px;
    padding-right: 0px;
    justify-content: center ;
}

/* remove on hover */
.removebutton:hover{
    background-color: rgb(190, 19, 19);
}


/* titel and discribtion */
.content{
    font-size: 20px;
    margin-bottom: 0px;
    margin-top: 0px;
    overflow:auto;
}


/* main box */
.maineditbox{
    display: flex;
    flex-direction: row;
    padding-left:5%;
    padding-right: 5%;
    flex-wrap: wrap;
    overflow: auto;
}

/* midia */
@media screen and (max-width: 1300px) {
   .contener{
    width: 100%;
   }
}
@media screen and (max-width: 700px){
    .contentBox{
        grid-template-columns: 100px 400px 40px 40px;
        justify-content: left;
    }

}
@media screen and (max-width: 400px){
    .contentBox{
        grid-template-columns: 100px 160px 40px 40px;
        justify-content: left;
    }
}